# Dependencies
node_modules
dist
dist-ssr
*.local

# Tauri
/src-tauri/target
/src-tauri/.cargo
src-tauri/debug
src-tauri/release

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Deno
deno.lock